/* --------------- General -------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}
/* body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 5px 1fr;
}

/* ----------------- Main content ------------ */

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.logo {
  height: 50px;
}

.lef-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.right-content {
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.paragraph {
  max-width: 600px;
  padding: 20px 0 0 20px;
  margin-right: -50px;
  z-index: 3;
}

.mrg-portrait {
  width: 215px;
  height: 670px;
  right: -10px;
  background-size: cover;
  background-position: top left;
  z-index: 2;
}

.line {
  z-index: 2;
  background-color: green;
}

.header {
  padding-bottom: 15px;
}

.subheader {
  padding-bottom: 15px;
}

.header_paragraph {
  padding-bottom: 10px;
}

.login {
  margin-bottom: 20px;
}
/* ------------------- Footer ---------------- */

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1px;
  margin-top: -140px;
  z-index: 3;
}

.steps {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
}

.step-1 {
  background-color: red;
}

.step-2 {
  background-color: red;
}

.step-3 {
  background-color: red;
}

@media screen and (min-width: 1025px) {
  .right-content {
    display: block;
  }

  .lef-content {
    margin-right: -285px;
  }

  .content-wrapper {
    grid-template-columns: 2fr 1.1fr;
  }

  .mrg-portrait {
    background-size: cover;
  }

  .app {
    grid-template-rows: 7fr 8px 1fr;
  }

  .footer {
    grid-template-columns: 5fr 4fr 5fr;
    grid-template-rows: 1fr;
    margin-top: -60px;
    gap: 0 1px;
  }
}
