/* --------------- General -------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}
/* body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ----------------- Main content ------------ */

.content-wrapper {
  flex-grow: 1;
  display: flex;
}

.logo {
  width: 70px;
  align-self: flex-end;
  margin-right: 50px;
  margin-bottom: 20px;
}

.left-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.right-content {
  display: none;
  flex-grow: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.paragraph {
  display: flex;
  flex-direction: column;
  width: 315px;
  padding: 20px 0 20px 20px;
}

.header {
  padding-bottom: 15px;
}

.subheader {
  padding-bottom: 15px;
}

.header_paragraph {
  padding-bottom: 10px;
}

.login {
  margin-bottom: 20px;
}

.btn-register {
  width: 200px;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.button-icon {
  width: 20px;
}

/* ------------------- Footer ---------------- */

.footer {
  display: flex;
  flex-direction: column;
}

.steps {
  display: flex;
  padding: 10px 15px;
}

.img-steps {
  width: 60px;
  margin-right: 15px;
}

.content-steps {
  padding-top: 12px;
}

.step-title {
  padding-bottom: 5px;
}

.step-1 {
  background-color: red;
}

.step-2 {
  background-color: red;
}

.step-3 {
  background-color: red;
}

@media screen and (min-width: 1025px) {
  .app {
    grid-template-rows: 5fr 1fr;
  }

  .left-content {
    padding-top: 80px;
  }

  .right-content {
    display: block;
  }

  .footer {
    flex-direction: row;
    border-top: 7px solid green;
  }

  .paragraph {
    width: 600px;
    margin: 0 auto;
  }

  .logo {
    width: 130px;
    margin-right: 150px;
  }

  .step-1 {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .step-2 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .step-3 {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
