/* --------------- General -------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}
/* body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ----------------- Main content ------------ */

.content-wrapper {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.logo {
  width: 70px;
  align-self: flex-end;
  margin-right: 50px;
  margin-bottom: 20px;
}

.left-content {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.right-content {
  display: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.paragraph {
  display: flex;
  flex-direction: column;
  width: 315px;
  padding: 20px 0 20px 20px;
}

.mrg-portrait {
  /* width: 215px;
  height: 670px;
  right: -10px;
  background-size: cover;
  background-position: top left;
  z-index: 2; */
}

.header {
  padding-bottom: 15px;
}

.subheader {
  padding-bottom: 15px;
}

.header_paragraph {
  padding-bottom: 10px;
}

.login {
  margin-bottom: 20px;
}

.btn-register {
  width: 200px;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.button-icon {
  width: 20px;
}

/* ------------------- Footer ---------------- */

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1px;
  z-index: 3;
  border-top: 5px solid green;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  padding: 15px 15px;
}

.img-steps {
  width: 60px;
  margin-right: 15px;
}

.content-steps {
  padding-top: 12px;
}

.step-title {
  padding-bottom: 5px;
}

.step-1 {
  background-color: red;
}

.step-2 {
  background-color: red;
}

.step-3 {
  background-color: red;
}

@media screen and (min-width: 1025px) {
  .app {
    grid-template-rows: 5fr 1fr;
  }

  .left-content {
    padding-top: 80px;
  }

  .right-content {
    display: block;
  }

  .content-wrapper {
    grid-template-columns: 2fr 1.1fr;
  }

  .mrg-portrait {
    background-size: cover;
  }

  .footer {
    grid-template-columns: 5fr 4fr 5fr;
    grid-template-rows: 100px;
    border-top: 7px solid green;
  }

  .paragraph {
    width: 600px;
    margin: 0 auto;
  }

  .logo {
    width: 130px;
    margin-right: 150px;
  }
}
